{
  "ignore": [
    "dist"
  ],
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true,
      "helpers": true,
      "useESModules": false
    }]
  ],
  "env": {
    "test": {
      "presets": ["@babel/env"],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
