# ------------------------------------------------------------------------------
# Build artifacts
# ------------------------------------------------------------------------------
dist/

# ------------------------------------------------------------------------------
# Testing artifacts
# ------------------------------------------------------------------------------
*.sqlite3
coverage/

# ------------------------------------------------------------------------------
# NodeJS artifacts
# ------------------------------------------------------------------------------
# (package-lock.json is ignored because we are using yarn)
node_modules/
npm-debug.log*
.eslintcache
package-lock.json
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ------------------------------------------------------------------------------
# Log files
# ------------------------------------------------------------------------------
*.log

# ------------------------------------------------------------------------------
# OS junk files
# ------------------------------------------------------------------------------
[Tt]humbs.db
*.DS_Store

# ------------------------------------------------------------------------------
# Vim Editor files
# ------------------------------------------------------------------------------
*.swp
*.swo
*.swn
