# ------------------------------------------------------------------------------
# Testing artifacts
# ------------------------------------------------------------------------------
*.sqlite3

# ------------------------------------------------------------------------------
# NodeJS artifacts
# ------------------------------------------------------------------------------
# (package-lock.json is ignored because we are using yarn)
node_modules/
npm-debug.log*
.eslintcache
package-lock.json

# ------------------------------------------------------------------------------
# Log files
# ------------------------------------------------------------------------------
*.log

# ------------------------------------------------------------------------------
# OS junk files
# ------------------------------------------------------------------------------
[Tt]humbs.db
*.DS_Store

# ------------------------------------------------------------------------------
# Vim Editor files
# ------------------------------------------------------------------------------
*.swp
*.swo
*.swn
